.hero-container {
  width: 100%;
  height: 100vh;
  background-color: #3B4252;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 0;
  padding: 0;
}
.subtitle{
  text-decoration: wavy underline #999494;
}

html,body{
  scroll-behavior: smooth;
}