body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: rgb(128, 127, 127);
    text-wrap: balance;
    color-scheme: dark;
    background-color: Canvas;
    color: CanvasText;
}

h2 {
    color: aliceblue;
}

.btn {
    width: 75%;
    margin-top: 2%;
}
